
.PageWrapper {
  margin: 0 auto;
  max-width: 1160px;
  padding: 0 25px;
}

.HeaderOneStyle{
  font-size: 80px;
  font-weight: normal;
  margin: 0;
}

.articleCardWrapper{
border: 1px solid black;
display: flex;
flex-direction: row;
justify-content: flex-start;
padding: 25px;
}

.articleCardImage{
flex-basis: 30%;
}

.articleCardImage img {
  height: auto;
  width: 100%;
}

.articleCardText{
flex-basis: 70%;
}

.articleCardTitle{
font-size: 36px;
font-weight: bold;
margin: 0;
}

.articleCardDate{

}

.articleCardBlurb{
font-size: 16px;
line-height: 1.5;
}

.ArticleHeader{
background-color: #e5e5e5;
padding: 40px 0;
}

.ArticleHeaderText{
  margin: 0 auto;
  max-width: 640px;
  padding: 0 25px;
}

.ArticleHeaderBlurb{
font-size: 20px;
line-height: 1.5;
}

.ArticleText{
margin: 0 auto;
max-width: 640px;
padding: 0 25px;
}

.ArticleText p {
font-size: 16px;
line-height: 1.5;
}

.ArticleText h2 {
font-size: 36px;
font-weight: bold;
margin: 0;
margin-bottom: 20px;
}

.ArticleText h3 {
font-size: 24px;
font-weight: bold;
}

.articleCardLink{

}


